* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* .fisrt-section */
.fisrt-section {
  padding-left: 145px;
  padding-right: 145px;
  background: linear-gradient(180deg, #f8f4e7 0%, #ffffff 100%);
  padding-bottom: 5%;
}
header {
  display: flex;
  padding-top: 27px;
  margin-bottom: 5%;
}
header .vl {
  border-left: 1px solid black;
  height: 33px;
  margin-left: 3%;
  margin-right: 3%;
}

.fisrt-section .row {
  display: flex;
}

.fisrt-section .row .col,
.second-section .row .col {
  width: 50%;
}

.fisrt-section .row .col:first-child {
  display: flex;
  flex-direction: column;
}

.fisrt-section .row .col:first-child h1 {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 3%;
}

.fisrt-section .row .col:first-child span {
  line-height: 27px;
  margin-bottom: 3%;
}

.fisrt-section .row .col:first-child button {
  background-color: #e8643e;
  border-radius: 70px;
  border: none;
  color: white;
  font-weight: bold;
  width: 183px;
  height: 53px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fisrt-section .row .col:last-child {
  display: flex;
  justify-content: flex-end;
}
/* //.fisrt-section */

/* second-section */
.second-section {
  background-color: #ffd232;
  padding-left: 145px;
  padding-right: 145px;
  padding-top: 5%;
}
.second-section .row {
  display: flex;
  align-items: center;
}

.second-section .row .col:first-child h2 {
  margin-bottom: 3%;
}

.second-section .row .col:first-child span,
.second-section .text-footer span {
  line-height: 28px;
}

.second-section .text-footer {
  text-align: center;
  width: 783px;
  margin: 5% auto;
  padding-bottom: 3%;
}

.second-section .text-footer h1 {
  color: white;
  font-size: 70px;
  line-height: 70px;
  padding-bottom: 3%;
}
/* //second-section */

/* first-generation */
.first-generation {
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 145px;
  padding-right: 145px;
}

.first-generation .title,
.second-generation .title,
.third-generation .title {
  background-color: #e8643e;
  width: 235px;
  text-align: center;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.first-generation .row,
.second-generation .row, 
.thrid-generation .row {
  display: flex;
}
.first-generation .row .col,
.second-generation .row .col,
.third-generation .row .col{
  width: 50%;
  padding-top: 10%;
}

.first-generation .row .col:first-child,
.second-generation .row .col:first-child,
.third-generation .row .col:first-child {
  border-right: 6px solid #e8643e;
}

.first-generation .row .col:first-child .list,
.second-generation .row .col:last-child .list,
.third-generation .row .col:first-child .list {
  display: flex;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #727272;
}

.first-generation .row .col:first-child .list img,
.second-generation .row .col:last-child .list img, 
.third-generation .row .col:first-child .list img{
  padding-right: 3%;
}
/* //first-generation */

/* .second-generation */
.second-generation, .third-generation  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 145px;
  padding-right: 145px;
}

.second-generation .row .col:last-child {
  padding-left: 3%;
}
/* //second-generation */
