* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 70px;
  line-height: 70px;
}

h3 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 700px;
}

h5 {
  font-size: 23px;
  line-height: 32px;
}

h6 {
  font-size: 12px;
  line-height: 32px;
  margin-bottom: 0;
}

.bg-gradien {
  background: linear-gradient(180deg, #f8f4e7 0%, #ffffff 100%);
}

header .vl {
  border-left: 1px solid black;
  height: 33px;
  margin-left: 3%;
  margin-right: 3%;
}

.line{
  border-left: 6px solid #e8643e;
  height: 100vh;
}

.button-color {
  background-color: #e8643e;
}

.costumize-color-banner {
  background-color: #ffd232;
}

.color-banner {
  background-color: #E8643E;
  letter-spacing: 0.1em;
}

.margin-banner {
  margin: -30px auto;
}

.w-15 {
  width: 235px;
}

.costumize-border {
  border-left: 6px solid #E8643E;
}

.costumize-r-border {
  border-right: 6px solid #E8643E;
}

.costumize-color-footer {
  background-color: #ffcb06;
}

ul {
  padding-left: 0;
}

li {
  background: url(../img/Group\ 4249.png) no-repeat left top;
  padding: 3px 0px 15px 50px;
  list-style: none;
  margin: 0;
  font-weight: 300;
  color: #727272;
}

.pb-6 {
  padding-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

footer{
  background-color: #FAFAFA;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .py-6 {
    padding-top: 1.3rem;
    padding-bottom: 1rem;
  }

  .costumize-border {
    border-left: none;
  }

  .costumize-r-border {
    border-right: none;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .first-generation .container .row {
    flex-direction: column-reverse;
  }

  .third-generation .container .row {
    flex-direction: column-reverse;
  }
}
